In [43]:
import numpy as np
import pandas as pd

In [13]:
dfdetail = pd.concat(pd.read_excel('data.xlsx', sheet_name=['Detail_67_1_1','Detail_67_1_1_1','Detail_67_1_1_2','Detail_67_1_1_3','Detail_67_1_1_4','Detail_67_1_1_5','Detail_67_1_1_6']), ignore_index=True)

In [44]:
dfdetail.head()

,Record Index,Status,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh),Relative Time(h:min:s.ms),Absolute Time
0,1,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:00.000,2020-10-10 20:03:39
1,2,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:01.000,2020-10-10 20:03:40
2,3,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:02.000,2020-10-10 20:03:41
3,4,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:03.000,2020-10-10 20:03:42
4,5,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:04.000,2020-10-10 20:03:43

In [15]:
dfdetail.to_csv('detail.csv')